.barra{
	width: 25px;
	height: 100px;
	margin-right: 2px;
	background-color:green;
	display: inline-block;
}

svg{
	border: 2px solid #aaa;
}

circle{
	fill: blue;
	stroke: orange;
	stroke-width: 5px;
}

path{
	fill: red;
	stroke: #aaa;
}