svg {
	background-color: #ccc;
}
.dot{
	stroke: black;
	fill: blue;
}
span {
	color: white;	
}
.column {
  background-color: green;
}
.baseline { 
  background-color: #ccc;
  height: 10px;
}
.box {
	margin-top:2px;
	text-align:center;
	background-color: #ccc;
	width:200px;
	height:200px
}
.control-group {
	background-color:#ccc;
}
.countdown{
	background-color:#ccc;
}